.campaign-list{
display: flex;
flex-direction: column;
justify-content: center;
margin:0 32px;

.campaign-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 32px;
  button{
      padding: 20px;
      font-weight: bold;
  }
  .negative{
    color:red;
  }
}

  .campaign-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    ul{
      list-style-type: none;
    }
    li{
      margin: 4px;
      button{
        margin-right: 8px;
      }
    }
    }

}

@media screen and (max-width: 767px) {
  .campaign-list{
    margin: 0;
    h1, h2{
      font-size: 16px;
      text-align: center;
    }
    .campaign-content {
      grid-template-columns: 1fr;
      text-align: center;
    }
    p{
      text-align: center;
    }
}
}