
<div class="campaign-list">
    <div class="campaign-header">
    <h1>{{selectedProduct.name}}</h1>
        <h2>Campaign Funds Left: <span [ngClass]="{'negative': isNegative}">{{selectedProduct.campaignFund - totalCampaignFund}}$</span></h2>
        <button (click)="createCampaign()" mat-flat-button color="primary">New campaign</button>
      </div>
<div class="campaign-content">
    
    <ul *ngFor="let campaign of campaigns">
        <li><b>Campaign name:</b> {{ campaign.name }}</li>
        <li><b>Campaign keywords:</b> {{ campaign.keywords }}</li>
        <li><b>Campaign bid amount:</b> {{ campaign.bidAmount }}</li>
        <li><b>Campaign fund:</b> {{ campaign.campaignFund }} $</li>
        <li><b>Campaign status:</b> {{ campaign.status }}</li>
        <li><b>Campaign town:</b> {{ campaign.town }}</li>
        <li><b>Campaign radius:</b> {{ campaign.radius }} km</li>
        <li> <button (click)="editCampaign(campaign)" mat-flat-button color="primary">Edit</button><button (click)="deleteCampaign(campaign.uuid)" mat-flat-button color="warn">Delete</button></li>
    </ul>
</div>
<p>Initial campaign fund: {{selectedProduct.campaignFund}} $</p>
<p>Sum of campaign fund: {{totalCampaignFund}} $</p>
</div>